* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s linear;
  text-transform: capitalize;
  text-decoration: none;
}
button {
  border: none;
  padding: 5px 20px;
  border-radius: 10px;
}
.contact-box .wel #layk:hover {
  color: red;
}

.In {
  border: 1px solid #2d11be;
  color: #2d11be;
  background: none;
}
.In:hover {
  background-color: #2d11be;
  color: white;
}
.Up {
  border: 1px solid #2d11be;
  background-color: #2d11be;
  color: white;
}
.Up:hover {
  border: 1px solid #2d11be;
  color: #2d11be;
  background: none;
}
.navbar {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px 9%;
}
.navbar .bars {
  display: none;
}

.navbar .menu a {
  text-decoration: none;
  margin: 0px 15px;
  position: relative;
  color: #000000;
}
.navbar .menu a::before {
  content: "";
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  position: absolute;
  background-color: #000000;
}
.navbar .menu a:hover::before {
  width: 100%;
  transition: all 0.4s linear;
}
.navbar .menu .home {
  color: black;
  font-weight: bold;
}
select {
  margin: 0px 15px;
  transition: all 03s linear;
  border: none;
  outline: none;
  cursor: pointer;
}

.headingimg {
  position: relative;
}

.headingimg img {
  width: 100%;
  object-fit: cover;
  height: 90vh;
}
.headingimg .text {
  position: absolute;
  width: 450px;
  height: 200px;
  top: 160px;
  left: 135px;
}
.headingimg .text h1 {
  color: #fff;
}
.headingimg .text input {
  width: 75%;
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  position: absolute;
}
.headingimg .text i {
  cursor: pointer;
  position: relative;
  left: 68%;
  padding: 14px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #c4c4c4;
}

.box h1 {
  text-align: center;

  color: #000000;
}
.box .box-div {
  width: 35%;
  text-align: center;
  border: 1px solid #444;
  padding: 8px 0px;
  border-radius: 20px;
  margin: 15px auto;
}
.box .box-div {
  display: flex;
}

.box .box-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid gray;
  position: relative;

  padding: 30px 0;
}
.box .box-title .link {
  width: 50%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 50px;
  padding: 10px 20px;
  margin-bottom: -30px;
  position: absolute;
  bottom: 0;
}
.box .box-title .link span {
  color: #000;
  cursor: pointer;
  font-weight: 500;
}
.box .box-title .link hr {
  width: 100px;
  color: #000;
  height: 2px;
}
.box .box-div a {
  color: black;
  text-decoration: none;
  padding: 0px 20px;
}
.contact-box {
  width: 250px;
  height: 385px;
  background: #f8f8f8;
  margin: 20px auto;
  border-radius: 5px;
}
.contact-box img {
  width: 250px;
  height: 250px;
  margin: auto;
  padding: 10px;
  object-fit: cover;
}
.contact-box h6 {
  color: #000000;
  font-size: 17px;
  margin-left: 10px;
}

.number {
  position: absolute;
  display: grid;
  grid-template-columns: 20px 20px 20px;
  text-align: center;
  padding: 7px 0px 0px 7px;
  margin-left: 170px;
}
.number input {
  border: 1px solid #444;
  background: none;
  height: 26px;
}
.icons {
  margin-top: -10px;
  margin-left: 10px;
}
.icons i {
  font-size: 12px;
  color: #ed9005;
  margin: 15px 1px 0px 1px;
  cursor: pointer;
}
.number p {
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}
.wel i {
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #444;
  cursor: pointer;
}

.contact {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  padding: 1rem 9%;
  align-items: center;
  margin-top: 70px;
}
.pople {
  width: 100%;
  position: relative;
}
.pople img {
  width: 100%;
}
.pople .textt {
  position: absolute;
  width: 38%;
  margin: auto;
  top: 150px;
  left: 450px;
}
.pople .textt h2 {
  color: #000;
}

.silse h3 {
  text-align: center;
  margin-top: 50px;
}
.silse .silse-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  display: flex;
}
.silse .silse-box .silse-box1 {
  width: 250px;
  border-radius: 10px;
  height: 370px;
  background-color: #e9e9e9;
}
.silse .silse-box .silse-box1 img {
  padding: 20px 42px 10px 42px;
}
.silse .silse-box .silse-box1 span {
  padding-left: 15px;
  color: #000000;
  font-weight: 700;
}
.silse .silse-box .silse-box1 .sum {
  display: flex;
  justify-content: space-between;
  padding: 5px 12px;
}
.silse .silse-box .silse-box1 .sum .sums {
  display: flex;
}
.silse .silse-box .silse-box1 .sum .sums i {
  padding-top: 2px;
  cursor: pointer;
  color: #ed9005;
}
.silse .silse-box .silse-box1 .sum .sums h5 {
  font-weight: 700;
  color: #000000;
}
.silse .silse-box .silse-box1 button {
  width: 80%;
  margin: 10px 25px;
}
.box-text {
  background: #f3f3f3;
}
.box-text h4 {
  color: #000;
  padding: 30px 9% 10px 9%;
}
.box-text p {
  padding: 0px 9%;
  color: #000000;
  font-size: 14px;
}
.woman h4 {
  text-align: center;
  padding-top: 20px;
}
.woman .woman-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0rem 9%;
}
.woman .woman-box .woman-box1 {
  margin: 30px 0px;
  width: 250px;
  border-radius: 10px;
  height: 410px;
  border: 0.1px solid gray;
}
.woman .woman-box .woman-box1:hover {
  box-shadow: 0px 10px 15px gray;
}
.woman .woman-box .woman-box1 img {
  width: 210px;
  margin: 0px 20px 10px 20px;

  height: 210px;
}
.woman .woman-box .woman-box1 .discount {
  /* border: 1px solid black; */
  display: inline-block;
  padding: 7px 15px;
  cursor: pointer;
  background-color: #ed9005;
  color: white;
  border-radius: 25px 0px 25px 0px;
  margin-top: 20px;
  margin-left: 170px;
  border: 1px solid #ed9005;
}
.woman .woman-box .woman-box1 .discount:hover {
  background-color: #fff;
  color: #ed9005;
  border: 1px solid #ed9005;
}
.woman .woman-box .woman-box1 span {
  color: #000000;
  font-weight: 500;
  margin-left: 10px;
}
.woman .woman-box .woman-box1 .siktka {
  display: flex;
  margin-top: -8px;
  justify-content: space-between;
  padding: 2px 10px;
}
.woman .woman-box .woman-box1 .siktka a {
  text-decoration: none;
  color: #ed9005;
  font-weight: 500;
}
.woman .woman-box .woman-box1 .siktka i {
  color: #ed9005;
  cursor: pointer;
}
.woman .woman-box .woman-box1 .siktka hr {
  height: 2px;
  font-weight: bold;
  margin-top: -12px;
  background-color: #ed9005;
}
.woman .woman-box .woman-box1 button {
  width: 230px;
  margin: 0px 10px;
}
.emblema h4 {
  text-align: center;
  margin: 40px 0px 10px 0px;
}
.emblema .emblemas {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding: 20px 9%;
  /* border: 1px solid red; */
}
.contaww {
  width: 100%;
  position: relative;
}
.contaww img {
  width: 100%;
}
.contaww .div {
  position: absolute;
  top: 90px;
  left: 120px;
  width: 80%;
  height: 100px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1px 5%;
}
.contaww .div .div-box h5 {
  color: white;
}
.contaww .div .div-box p {
  color: white;
  margin-top: -8px;
}
.contaww .div .div-box button {
  background-color: rgba(68, 68, 68, 0.089);
  border: 1px solid #fff;
  color: #fff;
}
.contaww .div .div-box button:hover {
  background-color: white;
  color: #2d11be;
}
.contaww .div .div-box i {
  color: #fff;
  margin: 0px 15px;
  font-size: 35px;
  cursor: pointer;
}
footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 9%;
}
footer .footer-box {
  width: 200px;
  height: 230px;
  /* border: 1px solid black; */
}
footer .footer-box a i {
  padding: 5px 0px;
}
footer .footer-box h5 {
  margin-top: 3px;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
footer .footer-box h6 {
  margin-top: 3px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
}
footer .footer-box p {
  line-height: 1.2;
  margin-top: -5px;
}
footer .footer-box a {
  text-decoration: none;
  color: #000;
  display: block;
}
footer .footer-box .type {
  margin-top: 5px;
}
footer .footer-box i {
  margin-top: 5px;
}
footer .footer-box1 {
  width: 370px;
  height: 230px;
}
footer .footer-box1 h5 {
  color: #000;
  text-transform: capitalize;
  font-weight: bold;
}
footer .footer-box1 input {
  padding: 10px 15px;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: whitesmoke;
}
footer .footer-box1 .obuna {
  position: relative;
}
footer .footer-box1 button {
  padding: 5px 10px;
  background-color: #2d11be;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 230px;
  margin: 5px;
}
footer .footer-box1 button:hover {
  background-color: white;
  color: #2d11be;
  cursor: pointer;
}
.footer-bottom {
  border-bottom: 1px solid black;
  height: 2px;
  width: 78%;
  margin: auto;
}
.footer-img {
  width: 100%;
}
.footer-img .footer-bottoms {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 25px 0px 25px 0px;
}
.top-arrow {
  text-align: end;
  margin: 10px;
}
.top-arrow a {
  border-radius: 50%;
  padding: 15px 17px;
  text-decoration: none;
  background-color: #2d11be;
  color: white;
  cursor: pointer;
}
@media (max-width: 500px) {
  .navbar .menu {
    display: none;
  }
  .navbar .btn {
    display: none;
  }
  .navbar .bars {
    border: 1px solid #444;
    cursor: pointer;
    border-radius: 5px;
  }
  .navbar .bars i {
    font-size: 27px;
    padding: 5px;
  }
  .navbar {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 9%;
  }

  .navbar .logo img {
    object-fit: cover;
  }
  .headingimg .text {
    position: absolute;
    width: 300px;

    height: 200px;

    top: 200px;
    left: 20px;
  }
  .headingimg img {
    width: 100%;
    object-fit: cover;
    height: 80vh;
  }
  .headingimg .text input {
    width: 85%;
    padding: 7px;
    border-radius: 10px;
  }
  .headingimg .text i {
    position: relative;
    left: 74%;
    padding: 11px;
  }
  .contact {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 9%;
    align-items: center;
    margin-top: 50px;
  }
  .pople {
    width: 100%;
    position: relative;
  }
  .pople img {
    object-fit: cover;
  }
  .pople .textt {
    position: absolute;
    width: 48%;
    margin: auto;
    top: 25px;
    left: 130px;
  }
  .navbar .bars {
    display: block;
  }
  .pople .textt h2 {
    font-size: 15px;
  }
  .silse .silse-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    display: flex;
  }
  .silse .silse-box .silse-box1 {
    margin: 20px auto;
    /* border: px solid red; */
  }
  .silse .silse-box .silse-box1 img {
    padding: 20px 42px 10px 42px;
  }
  .woman .woman-box .woman-box1 {
    margin: 10px auto;
    /* border: 2px solid red; */
  }
  .emblema .emblemas .emblemas-box {
    margin: 20px auto;
  }
  .contaww {
    display: none;
  }
  footer .footer-box {
    margin: auto;
  }

  footer .footer-box1 button {
    padding: 12px 2px;
    width: 95px;
    background-color: #2d11be;
    color: white;
    /* font-weight: bold; */
    position: absolute;
    font-size: 13px;
    top: -5px;
    left: 240px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin: 5px;
  }
  footer .footer-box1 {
    width: 370px;
    height: 230px;
    margin: auto;
  }
  .footer-img .footer-bottoms button {
    margin-top: 15px;
  }
  .footer-img .footer-bottoms button img {
    object-fit: cover;
  }
}
