* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s linear;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
}
button {
  border: none;
  padding: 5px 20px;
  border-radius: 10px;
}
body {
  width: 100%;
  /* display: flex; */
}
.In {
  border: 1px solid #2d11be;
  color: #2d11be;
  background: none;
}
.In:hover {
  background-color: #2d11be;
  color: white;
}
.Up {
  border: 1px solid #2d11be;
  background-color: #2d11be;
  color: white;
}
.Up:hover {
  border: 1px solid #2d11be;
  color: #2d11be;
  background: none;
}
.contact-box .wel #layk:hover {
  color: red;
}
.btnss {
  width: 70%;
  padding: 10px;
  background-color: #2d11be;
  color: #fff;
  cursor: pointer;
}
.btnss a {
  color: #fff;
}

nav {
  /* background: #171c24; */
  background: #f8f8f8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 10px 15px rgba(68, 68, 68, 0.14);
  height: 70px;
  padding: 0px 100px;
  /* z-index: -1; */
}
nav .nav-items {
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li {
  padding: 0px 15px;
}
nav .nav-items li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}
nav .nav-items li .ww {
  font-weight: 600;
  border-bottom: 2px solid #000;
}

nav .logo h1 {
  font-size: 35px;
  cursor: pointer;
  font-weight: bold;
}
nav form {
  display: flex;
  height: 40px;
  background: #1e232b23;
  border-radius: 7px;
  padding: 2px;
  min-width: 18% !important;
  border: 1px solid rgba(155, 155, 155, 0.2);
}
nav form .search-data {
  height: 100%;
  width: 100%;
  font-weight: 500;
  background: none;
  font-size: 18px;
  border: none;
  outline: none;
  padding: 0 10px;

  color: #fff;
}
nav form button {
  padding: 0 15px;
  background: #ff3d00;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  border-radius: 2px;
}
nav .menu-icon,
nav .search-icons,
nav .cancel-icons {
  width: 40px;
  text-align: center;
  color: #000;
  /* border: 1px solid red; */
  margin: 0px 50px;
  font-size: 21px;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .search-icons,
nav .cancel-icons {
  display: none;
  /* max-width: ; */
}
@media (max-width: 1245px) {
  nav {
    padding: 0 50px;
  }
}
@media (max-width: 1140px) {
  nav {
    padding: 0px;
  }
  nav .logo {
    flex: 2;
    text-align: center;
  }
  nav .logo {
    flex: 2;
    text-align: center;
  }
  nav .logo h1 {
    font-size: 28px;
    cursor: pointer;
    font-weight: bold;
  }
  nav form {
    position: absolute;
    top: 80px;
    right: 50px;
    /* border: 1px solid red; */
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active {
    opacity: 1;
    top: 95px;
    pointer-events: auto;
  }
  nav .nav-items li .ww {
    font-weight: 600;
    color: red;
    border: none;
  }
  nav form::before {
    position: absolute;
    content: "";
    top: -12px;
    right: 0;
    width: 0;
    height: 0;
    margin: -20px 0 0;
    /* z-index: -1; */
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
  }
  nav form::after {
    position: absolute;
    content: "";
    height: 60px;
    padding: 2px;
    /* width: 100%; */
    width: calc(100% + 20px);
    border-radius: 2px;
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #1e232b;
  }

  nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    left: -100%;
    width: 100%;
    /* border: 1px solid red; */
    height: 100vh;
    background: #14141f;
    display: inline-block;
    padding: 10px 50px 0 50px;
    text-align: center;
    transition: left 0.3s ease;
  }
  nav .nav-items.active {
    left: 0%;
  }
  nav .nav-items li {
    line-height: 40px;
    margin: 10px 0px;
  }
  nav .nav-items li a {
    color: #fff;
    font-size: 20px;
  }
  nav .menu-icon {
    display: block;
  }

  nav .search-icons,
  nav .menu-icon span {
    display: block;
  }
  nav .search-icons.hide,
  nav .menu-icon span.hide {
    display: none;
  }
  nav .cancel-icons.show {
    display: block;
  }
}
@media (max-width: 450px) {
  nav .search-icons,
  nav .cancel-icons,
  nav .menu-icon {
    margin: 0 20px;
  }
  nav form {
    right: 30px;
  }
}

.t-shirt .t-shirt-box {
  margin-top: 40px;
  width: 350px;
  height: 200px;
  margin: 10px 10px 40px 50px;
}

.t-shirt .t-shirt-box1 {
  width: 400px;
  margin-top: 25px;
  height: 200px;
  border-right: 1px solid rgba(68, 68, 68, 0.425);
  border-left: 1px solid rgba(68, 68, 68, 0.425);
}
.t-shirt .t-shirt-box2 {
  width: 240px;
  margin-left: 30px;
  margin-top: 30px;
  /* border: 1px solid red; */
}
.t-shirt .t-shirt-box1 .t-shirt-box1-text {
  /* border: 1px solid red; */
  width: 75%;
  margin: 30px auto;
}
.t-shirt .t-shirt-box1 .t-shirt-box1-text p {
  color: #444;
  margin-top: 25px;
}
.t-shirt-box2 .butt .btns:active {
  transform: scale(0.88);
}

.t-shirt .t-shirt-box2 h3 {
  color: #2d11be;
  font-weight: 600;
}
.t-shirt .t-shirt-box2 i {
  color: #ed9005;
  margin: 5px 2px;
  cursor: pointer;
}
.t-shirt .t-shirt-box2 p {
  margin: 5px 0px;
}
.t-shirt .t-shirt-box2 h2 {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  margin-top: 20px;
}
.t-shirt .t-shirt-box2 .butt {
  /* border: 1px solid red; */
  margin-top: 10px;
}
.t-shirt .t-shirt-box2 .butt i {
  padding: 10px;
  color: #444;
  margin-left: 20px;
  border: 1px solid #444;
  border-radius: 50%;
}
.t-shirt .t-shirt-box2 .butt i:hover {
  color: red;
  border: 1px solid red;
}
.t-shirt {
  border: 1px solid rgba(68, 68, 68, 0.425);
  width: 82%;
  /* height: 280px; */
  margin: auto;

  border-radius: 40px;
  padding: 20px 0px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.container {
  border: 1px solid #444;
  width: 80%;
  border-radius: 40px;
  padding: 20px 0px;
  margin: 50px auto;
  text-align: center;
}
.progres-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
  margin: auto;
  /* border: 1px solid red; */
}
.progres-container::before {
  content: "";
  background-color: #81817e;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
  /* transition: 0.4 ease; */
}
.progress {
  background-color: #2d11be;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  transform: translateY(-50%);
  width: 0%;
  z-index: -1;
  transition: 0.4 ease;
}
.circle {
  background-color: aliceblue;
  color: #2d11be;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #81817e;
}
.circle.active {
  border-color: #2d11be;
}
.bs {
  background-color: #2d11be;
  color: #fff;
  border: none;
  padding: 10px 35px;
  font-family: inherit;
  cursor: pointer;
  margin: 20px 10px;
}
.bs:active {
  transform: scale(0.88);
}
.bs:focus {
  outline: none;
}
.bs:disabled {
  background-color: #4542;
  cursor: not-allowed;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 9%;
  align-items: center;
  margin-top: 70px;
}
.contaww {
  width: 100%;

  position: relative;
}
.contaww img {
  width: 100%;
}
.contaww .div {
  position: absolute;
  top: 90px;
  left: 120px;
  width: 80%;
  height: 100px;
  /* border: 1px solid red; */

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1px 5%;
}

.contaww .div .div-box p {
  font-size: 23px;
  color: white;
  /* margin-top: -8px; */
}
.contaww .div .div-box button {
  background-color: rgba(68, 68, 68, 0.089);
  border: 1px solid #fff;
  color: #fff;
  margin-top: 5px;
  padding: 7px 25px;
}
.contaww .div .div-box button:hover {
  background-color: white;
  color: #2d11be;
  border: 1px solid #fff;
  cursor: pointer;
}
.contaww .div .div-box i {
  color: #fff;
  margin: 0px 15px;
  font-size: 35px;
  cursor: pointer;
}
footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 9%;
}
footer .footer-box {
  width: 200px;
  height: 230px;
  /* border: 1px solid red; */
}

footer .footer-box h5 {
  margin-top: 3px;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
footer .footer-box h6 {
  margin: 6px 0px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  /* border: 1px solid red; */
}
footer .footer-box p {
  line-height: 1.2;
  margin-top: 5px;
}
footer .footer-box a {
  text-decoration: none;
  color: #000;
  display: block;
  margin: 6px 0px;
  /* border: 1px solid red; */
}
footer .footer-box .type {
  margin-top: 5px;
}
footer .footer-box i {
  margin-top: 5px;
}
footer .footer-box1 {
  width: 365px;
  height: 230px;
}
footer .footer-box1 h5 {
  color: #000;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
footer .footer-box1 input {
  margin-top: 10px;
  padding: 15px 15px;
  width: 95%;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: whitesmoke;
}
footer .footer-box1 .obuna {
  position: relative;
}
footer .footer-box1 button {
  padding: 14px 10px;
  background-color: #2d11be;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 240px;
  margin: 10px 5px;
}
.footer-bottom {
  border-bottom: 1px solid black;
  height: 2px;
  width: 78%;
  margin: auto;
}
.footer-img {
  width: 100%;
}
.footer-img .footer-bottoms {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 25px 0px 25px 0px;
}
.top-arrow {
  text-align: end;
  margin: 10px;
}
.top-arrow a {
  border-radius: 50%;
  padding: 15px 17px;
  text-decoration: none;
  background-color: #2d11be;
  color: white;
  cursor: pointer;
}
.div {
  background-color: whitesmoke;
  width: 300px;
  padding: 5px;
  /* border: 1px solid red; */
  position: fixed;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  display: none;
}
.div h1 {
  text-align: center;
  margin-top: 30px;
}
.div input {
  width: 85%;
  display: block;
  margin: 20px auto;
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid #444;
  outline: none;
}
.div #demo {
  text-align: center;
}
.div .button {
  text-align: center;
}
.div .button button {
  padding: 6px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: blue;
  color: white;
  text-transform: capitalize;
}
.div.active {
  opacity: 1;
  display: block;
}
@media (max-width: 500px) {
  .navbar .menu {
    display: none;
  }
  .navbar .btn {
    display: none;
  }
  .navbar .bars {
    display: block;
  }
  .navbar .bars i {
    font-size: 22px;
    padding: 5px 9px;
    border: 1px solid #444;
    border-radius: 5px;
  }
  .navbar {
    display: flex;
    flex-wrap: wrap;
  }
  .t-shirt {
    border: 1px solid rgba(68, 68, 68, 0.425);
    width: 90%;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: auto;
    /* height: 280px; */
    margin: auto;
    border-radius: 40px;
    margin-top: 40px;

    align-items: center;
  }

  .t-shirt .t-shirt-box {
    width: 250px;
    margin: 15px 25px 0px 31px;
  }
  .t-shirt .t-shirt-box2 {
    width: 240px;
    margin: 0px;
    /* border: 1px solid red; */
    margin: auto;
  }
  .t-shirt .t-shirt-box1 {
    width: 270px;
    margin: 25px auto;

    border-right: 1px solid rgba(68, 68, 68, 0.425);
    border-left: 1px solid rgba(68, 68, 68, 0.425);
  }
  .container {
    border: none;
  }
  .contaww {
    display: none;
    /* border: 1px solid red; */
  }
  footer .footer-box {
    width: 200px;
    height: 200px;
    /* margin: auto; */
    /* border: 1px solid red; */
  }
  footer .footer-box1 {
    width: 250px;
    /* border: 1px solid red; */
    height: 180px;
    /* margin: auto; */
  }
  footer .footer-box1 button {
    display: none;
  }
  footer .footer-box1 input {
    margin-top: 25px;
  }
  .footer-img .footer-bottoms button {
    margin: 10px;
  }
  .footer-img .footer-bottoms {
    width: 80%;
  }
  .footer-img .footer-bottoms button {
    margin: 10px;
  }
}
