* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s linear;
  text-transform: capitalize;
  text-decoration: none;
}
button {
  border: none;
  padding: 5px 20px;
  border-radius: 10px;
}
.contact-box .wel #layk:hover {
  color: red;
}

.In {
  border: 1px solid #2d11be;
  color: #2d11be;
  background: none;
}
.In:hover {
  background-color: #2d11be;
  color: white;
}
.Up {
  border: 1px solid #2d11be;
  background-color: #2d11be;
  color: white;
}
.Up:hover {
  border: 1px solid #2d11be;
  color: #2d11be;
  background: none;
}
.navbar {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px 9%;
}

.navbar .menu a {
  text-decoration: none;
  margin: 0px 15px;
  position: relative;
  color: #000000;
}
.navbar .menu a::before {
  content: "";
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  position: absolute;
  background-color: #000000;
}
.navbar .menu a:hover::before {
  width: 100%;
  transition: all 0.4s linear;
}
.navbar .bars {
  display: none;
}
.navbar .menu .home {
  color: black;
  font-weight: bold;
}
select {
  margin: 0px 15px;
  transition: all 03s linear;
  border: none;
  outline: none;
  cursor: pointer;
}
.heading-img {
  width: 100%;
}
.heading-img img {
  width: 100%;
  object-fit: cover;
  height: 670px;
}

.sction {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 9%;
  align-items: center;
}
.sction .sction-box i {
  font-size: 35px;
  color: #2d11be;
  cursor: pointer;
}
.contactt {
  padding: 15px;
  width: 80%;
  margin: 20px auto;
  border: 1px solid rgba(68, 68, 68, 0.568);
  border-radius: 20px;
}
.contactt img {
  object-fit: cover;
}
.contactt p {
  margin: 12px 0px;
  font-size: 15px;
  color: #444;
}
@media (max-width: 500px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 9%;
  }
  .navbar .menu {
    display: none;
  }
  .navbar .btn {
    display: none;
  }
  .navbar .bars {
    display: block;
  }
  .navbar .bars i {
    font-size: 22px;
    padding: 5px 9px;
    cursor: pointer;
    border: 1px solid #444;
    border-radius: 5px;
  }
  .heading-img {
    width: 100%;
  }
  .heading-img img {
    width: 100%;
    object-fit: cover;
    height: 470px;
  }
  .sction .sction-box1 {
    display: none;
    border: 1px solid red;
  }
  .sction .sction-box {
    width: 270px;
    margin: 10px auto;
    /* border: 1px solid red; */
  }
  .sction .sction-box img {
    width: 270px;
  }
}
