* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s linear;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
}
button {
  border: none;
  padding: 5px 20px;
  border-radius: 10px;
}
.contact-box .wel #layk:hover {
  color: red;
}

.In {
  border: 1px solid #2d11be;
  color: #2d11be;
  background: none;
}
.In:hover {
  background-color: #2d11be;
  color: white;
}
.Up {
  border: 1px solid #2d11be;
  background-color: #2d11be;
  color: white;
}
.Up:hover {
  border: 1px solid #2d11be;
  color: #2d11be;
  background: none;
}
/* .navbar {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px 9%;
}

.navbar .menu a {
  text-decoration: none;
  margin: 0px 15px;
  position: relative;
  color: #000000;
}
.navbar .menu a::before {
  content: "";
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  position: absolute;
  background-color: #000000;
}
.navbar .menu a:hover::before {
  width: 100%;
  transition: all 0.4s linear;
}
.navbar .bars {
  display: none;
}
.navbar .menu .home {
  color: black;
  font-weight: bold;
}
select {
  margin: 0px 15px;
  transition: all 03s linear;
  border: none;
  outline: none;
  cursor: pointer;
} */
nav {
  /* background: #171c24; */
  background: #f8f8f8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  padding: 0px 100px;
  /* z-index: -1; */
}
nav .nav-items {
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li {
  padding: 0px 15px;
}
nav .nav-items li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}
nav .nav-items li .ww {
  font-weight: 600;
  border-bottom: 2px solid #000;
}

nav .logo h1 {
  font-size: 35px;
  cursor: pointer;
  font-weight: bold;
}
nav form {
  display: flex;
  height: 40px;
  background: #1e232b23;
  border-radius: 7px;
  padding: 2px;
  min-width: 18% !important;
  border: 1px solid rgba(155, 155, 155, 0.2);
}
nav form .search-data {
  height: 100%;
  width: 100%;
  font-weight: 500;
  background: none;
  font-size: 18px;
  border: none;
  outline: none;
  padding: 0 10px;

  color: #fff;
}
nav form button {
  padding: 0 15px;
  background: #ff3d00;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  border-radius: 2px;
}
nav .menu-icon,
nav .search-icons,
nav .cancel-icons {
  width: 40px;
  text-align: center;
  color: #000;
  /* border: 1px solid red; */
  margin: 0px 50px;
  font-size: 21px;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .search-icons,
nav .cancel-icons {
  display: none;
  /* max-width: ; */
}
@media (max-width: 1245px) {
  nav {
    padding: 0 50px;
  }
}
@media (max-width: 1140px) {
  nav {
    padding: 0px;
  }
  nav .logo {
    flex: 2;
    text-align: center;
  }
  nav .logo h1 {
    font-size: 28px;
    cursor: pointer;
    font-weight: bold;
  }
  nav .logo img {
    margin: 0px;
    object-fit: cover;
    object-position: center;

    padding-left: 60px;
  }
  nav .nav-items li .ww {
    font-weight: 600;
    color: red;
    border: none;
  }
  nav form {
    position: absolute;
    top: 80px;
    right: 50px;
    /* border: 1px solid red; */
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active {
    opacity: 1;
    top: 95px;
    pointer-events: auto;
  }
  nav form::before {
    position: absolute;
    content: "";
    top: -12px;
    right: 0;
    width: 0;
    height: 0;
    margin: -20px 0 0;
    /* z-index: -1; */
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
  }
  nav form::after {
    position: absolute;
    content: "";
    height: 60px;
    padding: 2px;
    /* width: 100%; */
    width: calc(100% + 20px);
    border-radius: 2px;
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #1e232b;
  }

  nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    left: -100%;
    width: 100%;
    /* border: 1px solid red; */
    height: 100vh;
    background: #14141f;
    display: inline-block;
    padding: 10px 50px 0 50px;
    text-align: center;
    transition: left 0.3s ease;
  }
  nav .nav-items.active {
    left: 0%;
  }
  nav .nav-items li {
    line-height: 40px;
    margin: 10px 0px;
  }
  nav .nav-items li a {
    color: #fff;
    font-size: 20px;
  }
  nav .menu-icon {
    display: block;
  }
  nav .search-icons,
  nav .menu-icon span {
    display: block;
  }
  nav .search-icons.hide,
  nav .menu-icon span.hide {
    display: none;
  }
  nav .cancel-icons.show {
    display: block;
  }
}
@media (max-width: 450px) {
  nav .search-icons,
  nav .cancel-icons,
  nav .menu-icon {
    margin: 0 20px;
  }
  nav form {
    right: 30px;
  }
}
.heading-img {
  width: 100%;
}
.heading-img img {
  width: 100%;
  object-fit: cover;
  height: 570px;
}

.sction {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 9%;
  align-items: center;
}
.sction .sction-box1 i {
  font-size: 35px;
  color: #2d11be;
  cursor: pointer;
}
.contactt {
  padding: 15px;
  width: 80%;
  margin: 20px auto;
  border: 1px solid rgba(68, 68, 68, 0.568);
  border-radius: 20px;
}
.contactt img {
  object-fit: cover;
}
.contactt p {
  margin: 12px 0px;
  font-size: 15px;
  color: #444;
}
.map iframe {
  display: block;
  margin: auto;
  border-radius: 20px;
}
.contaww {
  width: 100%;
  position: relative;
}
.contaww img {
  width: 100%;
}
.contaww .div {
  position: absolute;
  top: 90px;
  left: 120px;
  width: 80%;
  height: 100px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1px 5%;
}
.contaww .div .div-box h5 {
  color: white;
}
.contaww .div .div-box p {
  color: white;
  margin-top: -8px;
}
.contaww .div .div-box button {
  background-color: rgba(68, 68, 68, 0.089);
  border: 1px solid #fff;
  color: #fff;
}
.contaww .div .div-box button:hover {
  background-color: white;
  color: #2d11be;
}
.contaww .div .div-box i {
  color: #fff;
  margin: 0px 15px;
  font-size: 35px;
  cursor: pointer;
}
footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 9%;
}
footer .footer-box {
  width: 200px;
  height: 230px;
  /* border: 1px solid black; */
}
footer .footer-box a i {
  padding: 5px 0px;
}
footer .footer-box h5 {
  margin-top: 3px;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
footer .footer-box h6 {
  margin-top: 3px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
}
footer .footer-box p {
  line-height: 1.2;
  margin-top: -5px;
}
footer .footer-box a {
  text-decoration: none;
  color: #000;
  display: block;
}
footer .footer-box .type {
  margin-top: 5px;
}
footer .footer-box i {
  margin-top: 5px;
}
footer .footer-box1 {
  width: 370px;
  height: 230px;
}
footer .footer-box1 h5 {
  color: #000;
  text-transform: capitalize;
  font-weight: bold;
}
footer .footer-box1 input {
  padding: 10px 15px;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: whitesmoke;
}
footer .footer-box1 .obuna {
  position: relative;
}
footer .footer-box1 button {
  padding: 5px 10px;
  background-color: #2d11be;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 230px;
  margin: 5px;
}
footer .footer-box1 button:hover {
  background-color: white;
  color: #2d11be;
  cursor: pointer;
}
.footer-bottom {
  border-bottom: 1px solid black;
  height: 2px;
  width: 78%;
  margin: auto;
}
.footer-img {
  width: 100%;
}
.footer-img .footer-bottoms {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 25px 0px 25px 0px;
}
.top-arrow {
  text-align: end;
  margin: 10px;
}
.top-arrow a {
  border-radius: 50%;
  padding: 15px 17px;
  text-decoration: none;
  background-color: #2d11be;
  color: white;
  cursor: pointer;
}

@media (max-width: 500px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 9%;
  }
  .contaww {
    display: none;
  }
  footer .footer-box {
    width: 200px;
    height: 180px;
    /* border: 1px solid red; */
    margin: auto;
    /* border: 1px solid black; */
  }
  footer .footer-box1 {
    width: 270px;
    margin: auto;
    height: 230px;
  }
  footer .footer-box1 button {
    display: none;
  }

  .navbar .menu {
    display: none;
  }
  .navbar .btn {
    display: none;
  }
  .navbar .bars {
    display: block;
  }
  .navbar .bars i {
    font-size: 22px;
    padding: 5px 9px;
    cursor: pointer;
    border: 1px solid #444;
    border-radius: 5px;
  }
  .heading-img {
    width: 100%;
  }
  .heading-img img {
    width: 100%;
    object-fit: cover;
    height: 470px;
  }
  .sction .sction-box1 {
    display: none;
    border: 1px solid red;
  }
  .sction .sction-box {
    width: 270px;
    margin: 10px auto;
    /* border: 1px solid red; */
  }
  .sction .sction-box img {
    width: 270px;
  }
  .heading-img {
    width: 100%;
  }
  .heading-img img {
    width: 100%;
    /* object-fit: cover;
    height: 570px; */
  }
}
